/*
 * header
 */

 .header
   position: fixed
   width: 100%
   min-width: $minWidth
   min-height: 40px
   padding: 10px 20px
   color: $headerColor
   background-color: $headerBgColor
   z-index: 3
   clearfix();
   a
     color: $headerColor
     text-decoration: none
   &__title
     float: left
     font-family: $logoFont
     font-weight: 100
     font-size: $headTxtSize
     line-height: $headerLineHeight
   &__searchArea
     position: relative
     float: left
     margin-left: 30px
   &__searchIcon
     display: block
     position: absolute
     top: 9px
     left: 10px
     font-size: $searchSize
     color: $iconColor
   &__searchText
     -webkit-appearance: none
     width: 300px
     padding: 7px 10px 6px 35px
     font-size: $searchSize
     background-color: #fff
     border: 1px solid #ddd
     border-radius: 2px
     outline: none;
   &__searchTrigger
     -webkit-appearance: none
     padding: 8px 15px 8px 15px
     font-size: $searchSize
     background-color: #ddd
     border: none
     border-radius: 2px
     outline: none;
     cursor: pointer
   &__gNav
     float: right
     height: $headerLineHeight
     overflow: hidden
   &__gNavList
     li
       display: inline-block
       margin-right: 30px
     a
       display: block
       line-height: $headerLineHeight
       text-decoration: none
     i
       font-size: $iconSize
       line-height: $headerLineHeight
       color: $iconColor
   &__navUser
     vertical-align: top
     img
       width: 35px
       height: 35px
       margin-right: 10px
       border-radius: 50%
   &__caption
     font-size: $txtSize
