/*
 * header
 */

.header
  position: absolute
  background-color: rgba(0,0,0,0)
  a
    color: #fff
  &__gNav
    i
      margin-right: 10px
      font-size: 24px
      vertical-align: middle
      color: #fff
