/*
 * setting
 * setting：各変数の定義。
 */

// Grid
$minWidth = 320px;
$maxWidth = 1480px;

// Responsiveness Settings

// Spacing

// Typography

// Font
$headTxtSize = 30px;
$iconSize = 24px;
$txtSize = 14px;
$searchSize = 17px;
$footerTxtSize = 10px;

$lineHeight = 1.6;
$headerLineHeight = 35px;
$listLineHeight = 1.4;
$fwThin = 300

// Font-Family
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,300,700');
$logoFont = 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
$openSans = 'Open Sans', sans-serif;

// Font Icon
$fa-font-path = "http://netdna.bootstrapcdn.com/font-awesome/4.6.2/fonts"
@import '../../../../../node_modules/font-awesome-stylus/stylus/index.styl';

// color
$txtColor = #404040
$iconColor = #909090
$headerBgColor = #ededed
$headerColor = #404040

// Modular Scale Settings

// Sizing
