/*
 * chapter
 */

.chapter
  display: table
  min-height: 600px
  padding: 20px
  &__head
    display: table-cell
    width: 50%
    padding-right: 30px
    font-size: 40px
    vertical-align: middle
  &__content
    display: table-cell
    width: 50%
    font-size: 20px
    vertical-align: middle
  &.even
  background-color: #efefef
    h3
      padding-left: 30px
