/*
 * albumDetail
 */

.albumDetail
  width: 440px
  height: auto
  padding: 54px 20px 20px
  border-radius: 4px
  transform: translate(-50%, -50%)
  &__closeTrigger
    position: absolute
    top: 10px
    right: 10px
    a
      display: block
      &:hover
        text-decoration: none
    i
      display: block
      width: 34px
      height: 34px
      font-size: 34px
  &__detailImg
    margin-bottom: 10px;
  &__modalFavTrigger
    float: right
    width: 40px
    margin-top: 10px
    a
      display: block
      &:hover
        text-decoration: none
    i
      display: block
      width: 40px
      height: 40px
      font-size: 40px
